/* The top bar */
.md-header {


  /* Get the exact NAISS color gradient used by https://www.naiss.se/ */
  /* Red color at the left: RGB #4b0029 == HSL 327,100,15 */
  /* Blue color at the right: RGB #010088 == HSL 240,100,27 */
  background: linear-gradient(to right, #4b0029, #010088);
  /* Use dark theme colors to make text visible on the dark backgroud */
  --md-default-fg-color: hsla(var(--md-hue),15%,90%,1);
  --md-default-bg-color: hsla(var(--md-hue),15%,5%,1);
}

/* The tabs with the main content, below the top bar */
.md-tabs {

  /* Get the exact NAISS color gradient used by https://www.naiss.se/ */
  /* Red color at the left: RGB #4b0029 == HSL 327,100,15 */
  /* Blue color at the right: RGB #010088 == HSL 240,100,27 */
  background: linear-gradient(to right, #4b0029, #010088);
  /* Use dark theme colors to make text visible on the dark backgroud */
  --md-default-fg-color: hsla(var(--md-hue),15%,90%,1);
  --md-default-bg-color: hsla(var(--md-hue),15%,5%,1);
}

